<p>
  To get a development environment, first make sure that you have the <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox browser</a> installed. Then clone our <a href="https://github.com/ossd-s23/YouTube-Customizer">GitHub repository</a> to your local device and visit the Mozilla Firefox debugging page <code>about:debugging#/runtime/this-firefox</code> in the Firefox browser. Click the <code>Load Temporary Add-on...</code> button and select <code>src/manifest.json</code>. Then you will be able to simulate an environment with this extension until you exit the browser.
</p>

<p>
  There is also a self-distributed version <a href="https://addons.mozilla.org/firefox/downloads/file/4069744/438bf7e9f2714ba58ac1-1.0.xpi">here</a>. Make sure you have a Mozilla developer account (you can sign up one <a href="https://addons.mozilla.org/en-US/firefox/">here</a>), and you are using the Firefox browser so as to use this link.
</p>
