<!-- _includes/projects.html -->
<div class="col-sm-3 preview">
  {%- include figure.html path=project.img alt="project thumbnail" class="preview z-depth-1 rounded" -%}
</div>

<div class="col-sm-9">
  {%- if project.redirect -%}
    {%- assign item_href = project.redirect -%}
  {%- else -%}
    {%- assign item_href = project.url | relative_url -%}
  {%- endif -%}
  <a href="{{ item_href }}">
    <div class="title">{{ project.title }}</div>
    <div class="description">{{ project.description }}</div>
    <div class="links">
      {%- for shortcut in project.shortcuts -%}
        {% if shortcut.link contains '://' -%}
        {%- assign href = shortcut.link -%}
        {%- else -%}
        {%- assign href = shortcut.link | relative_url -%}
        {%- endif %}
        <a class="btn btn-sm z-depth-0" href="{{ href }}">{{ shortcut.name }}</a>
      {%- endfor -%}
    </div>
  </a>
</div>
